:root {
  --accent-blue: #81D4FA;
  --accent-grey: #BDBDBD;
  --accent-red: #e53935;
  --accent-green: #4caf50;
}


.material-icons {vertical-align: top;}
.material-icons.md-18 {font-size: 18px;}
.material-icons.md-24 {font-size: 24px;}
/* Default */
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {font-size: 48px;}

@font-face {
  font-family: alien;
  src: url("./fonts/alienleague.ttf");
}

/*
Schriftarten -> font-weight
100 Thin
200 Extra Light
300 Light
400 Normal
500 Medium
600 Semi Bold
700 Bold
800 Extra Bold
900 Ultra Bold
*/

body {
  margin: 1em;
  font-family: Roboto, sans-serif;
  font-weight: 500; /* medium */

}

nav {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background-color: white;
  border: 1px solid var(--accent-blue);
  overflow: hidden;
  margin-bottom: 1em;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 12pt;
  border-right: 1px solid var(--accent-blue);
}

nav a:hover {
  background-color: #E1F5FE;
}

nav a.active {
  font-weight: bold;
  background-color: var(--accent-blue);
  color: white;
}

header {
  padding: 1em;
  font-family: alien;
  text-align: center;
  border-bottom: 1px solid black;
  position: relative;
}

header::after {
  content: "";
  background: url("./img/header_bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100px 100px;
  opacity: .15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.headerTitle {
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 4em;
}

.headerSubtitle {
  font-size: 2em;
}

section {
  max-width: 75%;
  min-width: 500px;
  padding: 1em;
  margin: 1em 0 1em 0;
  border: 1px solid var(--accent-grey);
  box-shadow: 10px 10px 25px -15px rgba(0, 0, 0, 0.75);
}

section>p {
  margin: 1em;
}

.sectionHeader {
  padding: 1em 0 0 1em;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid black;
}

.imgPanorama {
  overflow: hidden;
  margin: 1em 0 1em 0;
}

.imgPanorama>img {
  display: block;
  width: 100%;
  margin: -10% 0 -10% 0%;
}

form {
  padding: 1em;
  margin: 1em;
}

fieldset {
  width: 100%;
  box-sizing: border-box;
}

.genoCheckForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .3em .4em;
  align-items: center;
}

#genoCheckSubmit {
  grid-row-start: 6;
  grid-column: 1 / 3;
}

fieldset label span {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  display: inline-block;
  width: 150px;
}

input {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  width: auto;
  box-sizing: content-box;
  margin: 3px;
  padding: 5px 3px 5px 3px;
  border: 1px solid var(--accent-grey);
  transition: box-shadow 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

input:invalid {
  border-right: 5px solid var(--accent-red);
  background-color: rgba(230, 57, 53, 0.1);
}

input:valid {
  border-right: 5px solid var(--accent-green);
}

input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

button {
  color: var(--accent-blue);
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  width: 100%;
  border: 4px solid var(--accent-blue);
  padding: 1em;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
}

button:active {
  outline: none;
  box-shadow: inset 0px 0px 30px -8px #000000;
}

button:focus {
  outline: none;
}

button:hover {
  color: white;
  background-color: var(--accent-blue);
}

button[type=submit] {
  margin-top: .5em;
}

/* http://kodhus.com/newsite/step-progress-bar-css-only/ */
.progresssteps-container {
  display: block;
  margin: 2em 1em 2em 1em;
}

.progresssteps {
  padding: 0;
  counter-reset: step;
}

.progresssteps li {
  color: var(--accent-grey);
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.progresssteps li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid var(--accent-grey);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

  transition: background-color 0.1s ease-in-out;
}

.progresssteps li:hover::before {
  background-color: var(--accent-grey);
  color: white;
}

.progresssteps li#confirmed:before {
  font-family: "Material Icons";
  content: "\e5ca";
}

.progresssteps li#sent:before {
  font-family: "Material Icons";
  content: "\e558";
}

.progresssteps li#analysis:before {
  font-family: "Material Icons";
  content: "\e8b6";
}

.progresssteps li#done:before {
  font-family: "Material Icons";
  content: "\e7f2";
}

.progresssteps li:after {
  /* Strich nach Punkt */
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: var(--accent-grey);
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progresssteps li:first-child:after {
  content: none;
}

.progresssteps li.active {
  color: var(--accent-blue);
}

.progresssteps li.active:hover::before {
  background-color: var(--accent-blue);
}

.progresssteps li.active:before {
  /* Ring-Farbe */
  border-color: var(--accent-blue);
}

.progresssteps li.active+li:after {
  /* Strich nach active-Punkt */
  background-color: var(--accent-blue);
}
