/* KIT-WAHL */

.kit {
  margin: 1em 0;
  padding: 0 1em 1em 1em;
  border: 2px solid var(--accent-grey);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 25px 0 rgba(48,112,205,0.2);
}

.kit span {
  display: inline-block;
}

.kit div.kitHeader {
  border-bottom: 1px solid var(--accent-lighter-blue);
  margin-left: -1em;
  margin-right: -1em;
  padding: 1em 1em .5em 3em;
  position: relative; /* für .price */
}

.kit span.kitTitle {
  font-size: 30px;
  font-weight: 700;
}

.kit span.kitSubtitle {
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px;
  padding: .2em 1em;
  margin: .25em -1em .25em -1em;
  background-color: white;
  color: var(--accent-black);
}

.kit .kitPrice {
  font-size: 20px;
  font-weight: 900;
  padding: .5em 1em;
  position: absolute;
  right: 15px;
  bottom: -1px;
  text-align: center;
  width: 20%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.kit button[type="submit"] {
  border: none;
  color: white;
}

.kit button[type="submit"]::before {
  font-family: "Material Icons", sans-serif;
  content: "\e8cc";
  vertical-align: top;
  margin-right: 5px;
}

.kitBasic {
  border-color: var(--accent-grey);
}
.kitBasic div.kitHeader {
  background: var(--accent-grey);
}
.kitBasic button[type="submit"] {
  background-color: var(--accent-grey);
}
.kitBasic button[type="submit"]:hover {
  background: var(--accent-light-grey);
}

.kitComfort {
  border-color: var(--accent-indigo);
}
.kitComfort div.kitHeader {
  background-color: var(--accent-indigo);
}
.kitComfort button[type="submit"] {
  background-color: var(--accent-indigo);
}
.kitComfort button[type="submit"]:hover {
  background-color: var(--accent-light-indigo);
}

.kitSocial {
  border-color: var(--accent-blue);
}
.kitSocial div.kitHeader {
  background-color: var(--accent-blue);
}
.kitSocial button[type="submit"] {
  background-color: var(--accent-blue);
}
.kitSocial button[type="submit"]:hover {
  background-color: var(--accent-light-blue);
}

.kitPremium {
  border-color: var(--accent-light-green);
}
.kitPremium div.kitHeader {
  background-color: var(--accent-light-green);
}
.kitPremium button[type="submit"] {
  background-color: var(--accent-light-green);
}
.kitPremium button[type="submit"]:hover {
  background-color: var(--accent-lighter-green);
}

.kitCustom {
  border-color: var(--accent-light-pink);
}
.kitCustom div.kitHeader {
  background-color: var(--accent-light-pink);
}
.kitCustom button[type="submit"] {
  background: var(--accent-light-pink);
}
.kitCustom button[type="submit"]:hover {
  background: var(--accent-lighter-pink);
}


.kitRecommended {
  margin-left: 64px;
  margin-right: -16px;
  padding: 0 16px 16px 16px;
  border: 2px solid var(--accent-black);
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(48,112,205,0.4);
  overflow: hidden;
}

.kitRecommended .kitRecommendedHeader {
  display: block;
  border-bottom: 2px solid var(--accent-black);
  margin: 0 -16px 16px -16px;
  padding: 8px 8px 8px 16px;
  font-size: 15pt;
  font-weight: bold;
  text-shadow: 0 0 8px var(--accent-black);
  color: white;
  background: repeating-linear-gradient(-45deg, var(--accent-black), var(--accent-black) 20px, white 20px, white 40px);
}
