/*
        KIT- AUSWAHL
 */

#optionalsContainer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#kitContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

#kitContainer > .bookable.stretched {
    grid-column: 1/-1;
}

.bookable {
    width: auto;
    padding: 10px 20px 60px 20px; /* zusätzliches Padding unten, um für Button Platz zu schaffen */
    margin: 1em;
    box-shadow: 0 5px 25px 0 rgba(48,112,205,0.15);
    border-radius: 15px;
    background: white;
    overflow: hidden;
    position: relative;
}

.bookableHeader {
    word-break: break-word;
    color: white;
    vertical-align: middle;
    height: 2em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 18pt;
    font-weight: 900;
    padding: 2em 1em;
    margin: -10px -20px; /* .optional-Padding negieren */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative; /* für img */
}

.bookableHeader.optional {
    background: linear-gradient(10deg, var(--accent-blue), var(--accent-light-blue));
}

.bookableHeader.kitBasic {
    background: linear-gradient(10deg, var(--accent-grey), var(--accent-light-grey));
}
.bookableHeader.kitBasic ~ button {
    color: var(--accent-grey);
}
.bookableHeader.kitBasic ~ button:hover {
    background-color: var(--accent-light-grey);
}

.bookableHeader.kitComfort {
    background: linear-gradient(10deg, var(--accent-indigo), var(--accent-light-indigo));
}
.bookableHeader.kitComfort ~ button {
    color: var(--accent-indigo);
}
.bookableHeader.kitComfort ~ button:hover {
    background-color: var(--accent-light-indigo);
}

.bookableHeader.kitSocial {
    background: linear-gradient(10deg, var(--accent-yellow), var(--accent-light-yellow));
}
.bookableHeader.kitSocial ~ button {
    color: var(--accent-yellow);
}
.bookableHeader.kitSocial ~ button:hover {
    background-color: var(--accent-light-yellow);
}

.bookableHeader.kitPremium {
    background: linear-gradient(10deg, var(--accent-green), var(--accent-light-green));
}
.bookableHeader.kitPremium ~ button {
    color: var(--accent-green);
}
.bookableHeader.kitPremium ~ button:hover {
    background-color: var(--accent-light-green);
}

.bookableHeader.kitCustom {
    background: linear-gradient(10deg, var(--accent-pink), var(--accent-light-pink));
    clip-path: ellipse(85% 95% at 50% 5%);
}
.bookableHeader.kitCustom ~ button {
    color: var(--accent-pink);
}
.bookableHeader.kitCustom ~ button:hover {
    background-color: var(--accent-light-pink);
}

.bookableHeader > img {
    opacity: .05;
    height: 90%;
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bookable > ul {
    list-style: none; /* ermöglicht Änderung der Bullet-Pooint-Symcole */
}

.bookable > ul > li {
    position: relative;
}

.bookable > ul > li:before {
    display: block;
    position: absolute;
    left: -25px;
    top: 0;
    color: var(--accent-green);
    font-family: "Material Icons", sans-serif;
    content: "\e5ca";
    font-weight: bold;
}

.bookable button{
    border: none;
    font-size: 18pt;
    font-weight: 900;
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: calc(100% - 40px);
}


/*
        WARENKORB
*/

.shoppingCartHeader {
    margin: 1em 0 0 1em;
    padding-bottom: 0;
    vertical-align: bottom;
    font-weight: 900;
    font-size: 24pt;
}

.shoppingCart {
    display: block;
    margin: 0 1em 1em 1em;
}

.shoppingCart > .cartItem {
    display: grid;
    grid-template-columns: 75% 15% 10%; /* Name, Preis, Button */
    align-items: center;
    padding: 10px;
    margin-bottom: .5em;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 rgba(48,112,205,0.15);
    position: relative;
    overflow: hidden;
}

.shoppingCart > .cartItem.kitBasic {
    color: var(--accent-black);
    background-color: var(--accent-light-grey);
}
.shoppingCart > .cartItem.kitComfort {
    color: white;
    background-color: var(--accent-light-indigo);
}
.shoppingCart > .cartItem.kitSocial {
    color: var(--accent-black);
    background-color: var(--accent-light-yellow);
}
.shoppingCart > .cartItem.kitPremium {
    color: white;
    background-color: var(--accent-light-green);
}
.shoppingCart > .cartItem.kitCustom {
    color: white;
    background-color: var(--accent-light-pink);
}

.shoppingCart > .cartItem > img {
    opacity: .1;
    position: absolute;
    left: -25px;
    height: 110%;
}

.shoppingCart > .cartItem > .cartItemName {
    grid-column: 1/2;
    margin-left: .5em;
    font-size: 16pt;
}

.shoppingCart > .cartItem > .cartItemPrice {
    grid-column: 2/3;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px dashed var(--accent-grey);
    background: white;
    color: black;
    border-radius: 15px;
}

.shoppingCart > .cartItem#shoppingCartKit > .cartItemPrice {
    border-style: none;
    background-color: white;
}

.shoppingCart > .cartItem > button {
    grid-column: 3/4;
    color: var(--accent-red);
}

.shoppingCart > .cartItem#shoppingCartKit > button {
    color: white;
}

.shoppingCart > .cartItem > button:hover {
    color: var(--accent-red);
}

.shoppingCartTotal {
    margin: 1em;
    padding-top: 1em;
    font-size: 14pt;
    display: grid;
    grid-template-columns: calc(75% - 5px) auto calc(10% + 5px);
    align-items: center;
}

.shoppingCartTotal > .title {
    grid-column: 1/2;
    text-align: right;
    margin-right: 10px;
}

.shoppingCartTotal > .value {
    grid-column: 2/3;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px dashed var(--accent-grey);
    border-radius: 15px;
}

button[value="continue"] {
    margin-top: 1em;
}